<div class="top-hero-wrapper text-center">
   <div class="conteiner top-hero-container">
      <h1 class="text-white">Hello guys!</h1>
      <h2 class="text-white">個別授業ページ</h2>
      <div class="favorite-count text-white">
         <h3>この講義のお気に入り登録者数=><%= @classwork.favorites.count %></h3>
      </div>
      <i class="fab fa-contao fa-9x fa-spin fa-border fontawesome-color"></i>
      <div class="individual text-white">
         <%= @classwork.class_name %>
         <%= @classwork.professor_name %>
         <%= @classwork.w_day %>
         <%= @classwork.period %>
      </div>
      <h2 class="text-white">講義紹介</h1>
         <div class="text-introduction text-white">
            <%= @classwork.introduction %>
         </div>
      <div class="comment-btn flex-center">
         <!--<div>-->
            <!--< link_to 'この講義をお気に入りに登録する', favorite_index_path, class: 'btn btn-block btn-white flex-center' %>-->
         <!--</div>-->
         <div class="col-md-3">
            <%= link_to '投稿されたコメント', comments_index_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
         <div class="col-md-3">
            <%= link_to 'コメントを投稿する', comments_new_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
         <div class="col-md-3">
            <%= link_to '過去問', pictures_index_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
         <div class="col-md-3">
            <% if @favorite.blank? %>
               <%= form_with(url:favorites_path, local: true, method: "POST", class: 'btn  btn-block btn-white flex-center border-none') do |f| %>
                  <%= f.hidden_field :classwork_id, value: @classwork.id %>
                  <%= f.submit '後で見るに登録', class: 'btn btn-block btn-white' %>
               <% end %>
            <% else %>
               <%= form_with(url:favorites_path, local: true, method: "DELETE", class: 'btn  btn-block btn-white flex-center border-none') do |f| %>
                  <%= f.hidden_field :classwork_id, value: @classwork.id %>
                  <%= f.submit '後で見るに登録を解除', class: 'btn btn-block btn-white' %> 
               <% end %>
            <% end %>
         </div>
      </div>
   </div>
</div>