<div class="top-hero-wrapper text-center">
   <div class="conteiner top-hero-container">
      <h1 class="text-white">Hello guys!</h1>
      <h2 class="text-white">個別授業ページ</h2>
      <div class="individual text-white">
         <%= @classwork.class_name %>
         <%= @classwork.professor_name %>
         <%= @classwork.w_day %>
         <%= @classwork.period %>
      </div>
      <h2 class="text-white">講義紹介</h1>
         <div class="text-introduction text-white">
            <%= @classwork.introduction %>
         </div>
      <div class="comment-btn flex-center">
         <div class="col-md-3">
             <%= link_to '投稿された情報を見る', comments_index_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
         <div class="col-md-3">
             <%= link_to 'コメントを投稿する', comments_new_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
         <div class="col-md-3">
             <%= link_to '過去問を見る', pictures_index_path, class: 'btn btn-block btn-white flex-center' %>
         </div>
      </div>

      
      
      
   </div>
</div>